.board {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 495.2px;
  height: 495.2px;
}

.buttons {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 15%;
  max-width: 150px; 
  height: 495.2px;
}

.levels {
  font-size: 20px;
}

button {
  font-family: 'Nova Mono', monospace;
  font-size: 30px;
  display: block;
  background: rgba(0, 0, 0, 0.35);
  color: #FFC1FF;
  border: none;
  cursor: pointer;
  transition: ease-in-out .5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: scale(1.0); 
  -webkit-transform: scale(1.0);
  outline: none;
}

button:hover {
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.55);
}

option {
  font-family: 'Nova Mono', monospace;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.35);
  color: #FFC1FF;
  border: none;
}

input {
  height: 55px;
  padding: 0;
  width: 55px;
  text-align: center;
  font-family: 'Nova Mono', monospace;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.45);
  color: #FFC1FF;
  border: none;
  outline: none;
  line-height: 55px;
}

.border-right {
  border-right: .1px solid #FFC1FF;
}

.border-top {
  border-top: .1px solid #FFC1FF;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.inmutable-tile {
  cursor: default;
  background: rgba(0, 0, 0, 0.55);
}

.mutable-tile {
  cursor: pointer;
  transition: ease-in-out .5s;
}

.mutable-tile:hover, .mutable-tile:focus {
  background: rgba(0, 0, 0, 0.25);
}

.board span {
  text-align: center;
  display: block;
  font-family: 'Nova Mono', monospace;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.35);
  color: #FFC1FF;
  width: 495.2px;
}

.win {
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6900ff, 0 0 70px #6900ff, 0 0 80px #6900ff, 0 0 100px #6900ff, 0 0 150px #6900ff;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #6900ff, 0 0 35px #6900ff, 0 0 40px #6900ff;
  }
}
@keyframes neon {
  from {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6900ff, 0 0 70px #6900ff, 0 0 80px #6900ff, 0 0 100px #6900ff, 0 0 150px #6900ff;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #6900ff, 0 0 35px #6900ff, 0 0 40px #6900ff;
  }
}

/* CSSTransitionGroups */

.show-menu-enter, .show-alert-enter {
  height: 0;
  opacity: 0.01;
}

.show-menu-enter.show-menu-enter-active {
  opacity: 1;
  height: 180px;
  transition: opacity 500ms ease-in-out, height 500ms ease-in-out;
}

.show-menu-leave {
  opacity: 1;
  height: 180px;
}

.show-menu-leave.show-menu-leave-active, .show-alert-leave.show-alert-leave-active {
  opacity: 0.01;
  height: 0;
  transition: opacity 500ms ease-in-out, height 500ms ease-in-out;
}

.show-alert-enter.show-alert-enter-active {
  opacity: 1;
  height: 28px;
  transition: opacity 500ms ease-in-out, height 500ms ease-in-out;
}

.show-alert-leave {
  opacity: 1;
  height: 28px;
}